XML/test.xsd/cat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Christ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="COMPUTER-SCIENCE" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="stu-name"/>
              <xs:element type="xs:byte" name="stu-university"/>
              <xs:element type="xs:long" name="stu-phone"/>
              <xs:element type="xs:string" name="stu-email"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>